html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
outline: 0;
}
body {
line-height: 1;
color: black;
background: white;
}
ol, ul {
list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
border-collapse: separate;
border-spacing: 0;
}
caption, th, td {
text-align: left;
font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: "";
}
blockquote, q {
quotes: "" "";
}

/*my css*/
body{
    background:#f0eee0;
}
main{
    width:100%;   
}
#header{
    height:100px;
    background:#fff;
}
#header_back{
    height:9px;
    background:url("/images/header_back.gif");
    background-repeat:repeat-x;
}
.logo{
    font-size:18px;
    font-weight:bold;
    font-family: Helvetica,Tahoma,sans-serif;
    position:absolute;
    top:7%;
    left:15%;
}
.menu{
    float:right;
    width:454px;
    height:50px;
    background:url("/images/menu_back.gif");
    position:relative;
    top:15%;
    right:15%;
}
.menu ul{
    position:relative;
    top:17px;
    left:25px;
}
.menu ul li{
    float:left;
    margin-right:45px;
}
.menu a{
    font-family: Arial, Tahoma, sans-serif;
    text-decoration:none;
    font-size:14px;
    font-weight:bold;
    color:#575757;
}
.menu a:hover{
    color:#491701;
}
#slides{
    height:150px;
    background:#e3ded0;
}
#main_menu{
    width:550px;
    height:80px;
    position:absolute;
    padding-top:50px;
    left:29%;
}
#main_menu ul li{
    float:left;
    width:133px;
    height:46px;
    margin-right:7%;
}
.catalog a{
    display:block;
    margin-top:17px;
    margin-left:55px;
    font-size:14px;
    font-family:Helvetica,Tahoma,sans-serif;
    text-decoration:none;
    color:#523C2F;
    font-weight:bold;
}
.order a{
    display:block;
    margin-top:17px;
    margin-left:55px;
    font-size:14px;
    font-family:Helvetica,Tahoma,sans-serif;
    text-decoration:none;
    color:#523C2F;
    font-weight:bold;
}
.free a{
    display:block;
    margin-top:14px;
    margin-left:55px;
    font-size:14px;
    font-family:Helvetica,Tahoma,sans-serif;
    text-decoration:none;
    color:#523C2F;
    font-weight:bold;
}
.catalog{
    background:url("/images/catalog.gif");
    background-repeat:no-repeat;
}
.order{
    background:url("/images/order.gif");
    background-repeat:no-repeat;    
}
.free{
    background:url("/images/free.gif");
    background-repeat:no-repeat;
    margin-top:3px;                
}
#content{
    margin: 0 auto;
    text-align: center;
    width: 900px;
}
#main_content{
    background:#eae7d9;
    width:600px;
    float:left;
    text-align:justify;
    font-size:13px;
    font-family:Helvetica,Tahoma,sans-serif;
    line-height: 1.3em;
    padding:15px 15px 30px 15px;
}
#main_content h1{
    font-size:18px;
    margin:5px 0px 5px 0px;
}
#main_content p{
    margin:15px 0px 15px 0px;
}
#main_content a{
    color:#491701;
    font-weight:bold;
}
#main_content a:hover{
    color:#865D4A;
}
#sidebar{
    background:#f0eee0;   
    float:left;
    text-align:left;
    padding:15px 15px 30px 15px;
    font-family:Helvetica,Tahoma,sans-serif;
}
.side_block{
    margin-bottom:25px;
}
.side_title{
    font-size:14px;
    color:#A09470;
    font-weight:bold;
}
.side_cont{
    font-size:12px;
    line-height: 1.5em;
    margin-top:8px;
    padding-left:5px;
}
.side_cont a{
    color:#575757;
}
.side_cont a:hover{
    color:#491701;
}
.howcontactus{
    height:96px;
    background:url("/images/how_contact_back.gif");
    background-repeat:no-repeat;
    padding-top:20px;
    padding-left:18px;
}
#footer{
     clear:both;
     height:90px;
     background:url("/images/footer_back.gif");
     background-repeat:repeat-x;
     text-align:center;
     margin-top:10px;
}
#footer .copy{
     font-size:15px;
     font-family:Helvetica,Tahoma,sans-serif;
     padding-top:40px;
}
#error_explanation{
    color:red;
}
/*catalog#index*/
#main_content .catalog_site_title{
    color:#491701;
    background:#F0EEE0;
    font-size:16px;
    font-weight:bold;
    padding:10px;
}
.catalog_product{
    background:#F0EEE0;
    padding:10px;
    margin-top:10px;   
    color:#616161;
    font-size:11px;
}
#main_content .catalog_product .catalog_title a{
    text-decoration:underline;   
    color: #676767;
}
.catalog_actions{
    margin-top:5px;
}
/*catalog#show*/
.catalog_product_show{
    background:#F0EEE0;
    padding:10px;
    margin-top:10px;   
    color:#616161;
    font-size:11px;
    margin-bottom:10px;
}
.catalog_product_show div{
    margin-bottom:10px;
}
.catalog_title_show span{
    font-weight:bold;
}
.catalog_file_show span{
    font-weight:bold;
}
.catalog_length_show span{
    font-weight:bold;
}
.catalog_price_show span{
    font-weight:bold;
}
.catalog_sold_show span{
    font-weight:bold;
}
.newcatalogbutton{
    text-align:right;   
}
.willpaginate{
    text-align:center;
}
