<h1>Теперь вы можете скачать минус:</h1>
<p>На всякий случай скопируйте ссылку и сохраните ее.</p>
<% minus = root_url + 'system/' + @sold_minus.minus.url %>
<p><%= link_to 'Скачать минус', @sold_minus.archive.url %></p>