<% if notice%>
<p id="notice">
  <%= notice %>
</p>
<% end %>
  <div class="post_one">
    <div class="title">
      <%= @new.title %>
    </div>
    <div class="content">
      <%= raw(@new.body) %>
    </div>
  </div>
  <div class="newcatalogbutton">
  <%= button_to "Назад", news_path, :method => :get %>
  </div>
