<h1>О нас</h1>
<p>Над инструменталами, размещенными на этом сайте, работает команда Writers Beats – участники группы Writers Squad.</p>
<p>Writers Squad пишет минуса с 2007-ого года. Пишутся инструменталы на FL Studio, с использованием vst-плагинов, сводятся в Acid Pro.</p>
