<h1>Как с нами связаться?</h1>
<p>
<b>email:</b> <i>lagox.mail@gmail.com</i>
</p>
<p>
<b>skype:</b> <i>lagox.skype</i>
</p>
<p>
<b>Тел.:</b> <i>8(777)694-84-08(Казахстан)</i>
</p>
<p>
<b>icq:</b> <i>2861610</i>
</p>
