<h1>Как с нами связаться?</h1>
<p>
<b>email:</b> <i>support@theminus.ru</i>
</p>
<p>
<b>skype:</b> <i>lagox.skype</i>
</p>
<p>
<b>Тел. № 2:</b> <i>+7(777)375-49-85(Казахстан)</i> - спросить Александра
</p>
<p>
<b>Тел. № 1:</b> <i>+7(777)694-84-08(Казахстан)</i> - спросить Ерлана
</p>

