<h1>Где Вы?</h1>
        <p>
        На сайте «Бешеный анал» Вы можете прослушать демо-версии и купить эксклюзивные рэп-иснтрументалы. Весь материал данного сайта является плодом работы битмейкеров «Бешеный анал» и является авторским. Купив инструментал на нашем сайте, Вы можете быть уверены, что он больше нигде и ни кем не будет использован кроме Вас и все права на данный инструментал принадлежат только Вам.</p>
<p>Демо-версии опубликованы в битрейте 128 кб/сек и защищены голосовым тегом, что не позволяет использовать их без нашего ведома. </p>
<p>После продажи инструментал сразу же удаляется из базы, и может быть передан Вам в любом формате, а так же по дорожкам (с эффектами или без, в зависимости от Вашего желания). Эти и другие детали, такие как длительность инструментала, число куплетов и припевов Вы должны указать при заполнении формы. Следует упомянуть, что пересводить, переделывать, либо добавлять какие-либо детали, сэмплы и инструменты в инструментал по желанию клиента мы НЕ будем. </p>
<p>База рэп-инструменталов постоянно обновляется. Если Вы не нашли ничего сейчас, заходите на наш сайт позже, и, возможно, Вы найдете то, что ищите.</p>

<p><i>С уважением, «Бешеный анал».</i></p>
        
        
        
