<h1>Где Вы?</h1>
<p>На сайте TheMinus.ru Вы можете прослушать демо-версии и купить эксклюзивные рэп-иснтрументалы. Весь материал данного сайта является авторским. Купив инструментал на нашем сайте, Вы можете быть уверены, что он больше нигде и ни кем не будет использован кроме Вас и все права на данный инструментал принадлежат только Вам.</p>
<p>После продажи инструментал сразу же помещается в раздел "проданные" и повторно купить их будет нельзя, также Вы получаете архив, где находится купленный Вами минус (естественно, без голосового тега) в wav формате. Такие детали, как длительность инструментала, число куплетов, припевов и прочее, Вы можете отрегулировать сами, имея на руках данный архив.</p>
<p>Если Вы прослушали демо-минус, Вам он понравился, но Вас не устраивает наличие инструментала в wav-формате и Вы хотите иметь на руках сам проект по дорожкам (которые в сумме весят от 500 МБ), обращайтесь напрямую к администрации сайта. Контактная информация находится в разделе «Контакты».</p>
<p>Для просмотра минусов зайдите в раздел "<%= link_to 'Каталог', store_path %>"</p>
<p>База  рэп-инструменталов постоянно обновляется. </p>
<p>Видео о том как происходит покупка минуса: <a href="http://www.youtube.com/watch?v=2zfdCPjr1W4">Здесь</a></p>
<p>Оплата производится через сервис <a href="http://www.interkassa.com/">Interkassa</a></p>
<p><i>С уважением, TheMinus.ru</i></p>
