<h1>Где Вы?</h1>
        <p>
        На сайте Euro Productions Вы можете прослушать демо и купить rap минуса для hip-hop и r&b исполнителей и не только. Вся продукция является плодом творческих усилий бит-мейкеров Euro productions, другими словами, все рэп минуса для продажи – это наша оригинальная продукция, рэп минуса пишутся с нуля и имеют высокое качество звучания. Перед тем, как купить хип хоп минус Вы можете прослушать демо-версию.  Демо версия защищена голосовым тэгом, который снимается при покупке минуса. После продажи рэп минуса могут быть переданы Вам в любом формате, а так же по дорогам. По желанию покупателя хип хоп минуса могут быть скорректированы и пересведены бесплатно.
        </p>
        <h1>
        Мы делаем хип хоп минуса
        </h1>
        <p>
        С заказчиками <a href="#">рэп минусов</a> работаем индивидуально, учитываем требования и пожелания. Мы гарантируем, что заплатив свои деньги за рэп минус, Вы будете являться единственным владельцем авторских прав на него! Сразу же после поступления оплаты минус удаляется из базы навсегда.   База минусов для продажи постоянно обновляется свеженаписанными. Если сегодня Вы не нашли ничего для себя подходящего, но у Вас в голове в общем-то сложилось представление о будущем треке – свяжитесь с нами, постараемся сделать.
        </p>
