<h1>Как заказать у нас минуса?</h1>
<p>
<object width="560" height="340"><param name="movie" value="http://www.youtube.com/v/zDV0PMvhrB8?fs=1&amp;hl=ru_RU"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/zDV0PMvhrB8?fs=1&amp;hl=ru_RU" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="560" height="340"></embed></object>
</p>
