<h1 class="catalog_site_title">Акции</h1>
<% if notice%>
<p id="notice">
  <%= notice %>
</p>
<% end %>
<% @stocks.each do |stock| %>
  <div class="post_one">
    <div class="title">
      <%= link_to stock.title, "stocks/#{stock.id}" %>
    </div>
    <div class="content">
      <%= stock.body %>
    </div>
  </div>
<% end %>
<div class="willpaginate">
<%= will_paginate @stocks %>
</div>
