<% if notice%>
<p id="notice">
  <%= notice %>
</p>
<% end %>
  <div class="post_one">
    <div class="title">
      <%= @stock.title %>
    </div>
    <div class="content">
      <%= @stock.body %>
    </div>
  </div>
  <div class="newcatalogbutton">
  <%= button_to "Назад", stocks_path, :method => :get %>
</div>
