<div id="footer">
  <div class="copy">
    &copy; 2011 «theminus.ru»
  </div>
  <div class="soc_net">
    <a href="http://vkontakte.ru/club7445664" title="Мы в Вконтакте" >
      <img src="/images/vkontakte.png" style="width:25px;" alt="Мы в Вконтакте" />
    </a>
    <a href="http://twitter.com/theminusru" title="Мы в twitter" >
      <img src="/images/twitter.png" style="width:25px;" alt="Мы в twitter" />
    </a>
    <a href="http://rubyonrails.org" title="Powered by Ruby on Rails">
      <img src="/images/rails.png" style="width:19px;" alt="Powered Ruby on Rails" />
    </a>    
  </div>
</div>
