<div id="sidebar">
          <div class="side_block">
            <h2 class="side_title">
              Свежие минуса
            </h2>
            <div class="side_cont">
              <ul>
                <li><a href="#">Хип-хоп #1</a></li>
                <li><a href="#">R&B #1</a></li>
                <li><a href="#">Хип-хоп #2</a></li>
                <li><a href="#">Хип-хоп #3</a></li>
              </ul>
            </div>
          </div>  
          <div class="side_block">
            <h2 class="side_title">
              Проданные минуса
            </h2>
            <div class="side_cont">
              <ul>
                <li><a href="#">Send #1</a></li>
                <li><a href="#">R&B #1</a></li>
                <li><a href="#">Air #2</a></li>
                <li><a href="#">Хип-хоп #3</a></li>
              </ul>
            </div>
          </div>  
          <div class="side_block">
            <h2 class="side_title">
              Как связаться с нами
            </h2>
            <div class="side_cont">
              <p class="howcontactus">
              Email: order@one-two.ru<br />
              Skype: onetwo_ru<br />
              Тел.: +7(777)3894484
              </p>
            </div>
          </div>  
        </div>
