<div id="sidebar">
          <div class="side_block">
            <h2 class="side_title">
              Свежие минуса
            </h2>
            <div class="side_cont">
              <ul>
                <% new_minus.each do |minus| %>
                  <li><%= minus.title %></li>
                <% end %>
              </ul>
            </div>
          </div>  
          <div class="side_block">
            <h2 class="side_title">
              Проданные минуса
            </h2>
            <div class="side_cont">
              <ul>
                <% if sold_minus.empty? %>
                  <li>Пока никто не купил:)</li>
                <% else %>
                  <% sold_minus.each do |minus| %>
                    <li><%= minus.title %></li>
                  <% end %>
                <% end %>                
              </ul>
            </div>
          </div>  
          <div class="side_block">
            <h2 class="side_title">
              Как связаться с нами
            </h2>
            <div class="side_cont">
              <p class="howcontactus">
              Email: manager@theminus.ru<br />
              Skype: lagox.skype<br />
              Тел.: +7(777)3894484
              </p>
            </div>
          </div>  
        </div>
